<div class="content">
    <div class="card-holder">
        <div class="card">
            <div class="circle-container user-icon">
                <img src="../../../assets/user.png">
            </div>
            <div class="card-top-content">
            </div>
            <div class="card-bottom-content">
                <p>Przejdź do panelu aby dodać, edytować bądź zablokować konta użytkowników</p>
                <button type="button" class="btn-form" (click)="navigateToUser()">Panel uzytkowników </button>
            </div>
        </div>
    </div>
</div>
