<body>
    <div class="wrapper">
        <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onPasswordRecovery()">
            <h1>Odzyskiwanie Hasła</h1>
            <div class="form-input input-box">
                <input type="text" placeholder="E-mail" required [formControl]="passwordRecoveryForm.controls.email">
                <mat-error *ngIf="passwordRecoveryForm.controls.email" class="error">{{getErrorMessage(passwordRecoveryForm.controls.email)}}</mat-error>
            </div>
            <button type="submit" class="btn" [disabled]="passwordRecoveryForm.invalid">Wyślij</button>
            <div class="alert-warning alert-dismissible fade show" role="alert" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
        </form>
        <div class="register-link">
            <p>Wróc do <a routerLink="/logowanie">logowania</a></p>
        </div>
    </div>
</body>
